@import "../Styles/colors";

.meter-wrapper {
    height: 20px;
    width: 100%;
    display: flex;
    background: $pale-ass-green;
    font-size: 10px;

    align-items: center;

    .guilty-percentage {
        background: $olive;
        color: transparent;
        text-align: left;
        height: 100%;
        display: flex;
        align-items: center;

        transition: color linear 100ms;
    }

    .innocent-percentage {
        color: transparent;
        text-align: right;

        transition: color linear 100ms;
    }

    &:hover {
        .guilty-percentage {
            color: $snow-white;
        }

        .innocent-percentage {
            color: $low-grey;
        }
    }
}