@import "../Styles/colors";
@import "../Styles/variables";

.trial-form {
	width: 60%;
}

.trials-list {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .trial-box {
        flex-grow: 0;
        flex-basis: 45%;
        background: $snow-white;
        margin-bottom: 16px;
        border-radius: $radius;
        padding: 8px 16px;

        p {
            margin: 8px 0 8px;
        }
        p.title {
            font-weight: bold;
            font-size: $big-font-size;
            text-transform: uppercase;
        }
    }

    &::after {
        height: 0;
        width: 45%;
        padding: 4px 16px;
        content: "";
    }
}