@import "../Styles/colors";
@import "../Styles/variables";

div.user-select-wrapper {
	display: inline;
	position: relative;
}

div.user-select-results {
	position: absolute;
	width: 100%;
	background: $snow-white;
}

input.user-select-input {
	border-bottom-right-radius: none;
	border-bottom-left-radius: none;
	width: 100%;
}

div.user-select-results > div.user-select-row {
	&:first-child {
		border-top: none;
	}
	&:last-child {
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
	}
	&:hover {
		background: $white;
	}
	padding: 16px;
	border: 2px solid $cyan;
	border-top: none;
}