@import "../Styles/colors";
@import "../Styles/variables";

nav.menu {
	color: $pale-ass-green;
	padding: 0 16px;
	text-align: right;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

nav.menu > div.line {
	margin-top: 16px;
	margin-bottom: 16px;
	width:80%;
	height: 2px;
	background: $pale-ass-green;
}

nav.menu > .links {
	display: flex;
	flex-direction: column;
}

nav.menu > h2 {
	letter-spacing: 0.1em;
	text-transform: uppercase;
	max-width: 75%;
}

nav.menu > .links > a {
	color: $pale-ass-green;
	padding: 16px;	
	&::before {
		content: $middot;
		padding-right: 4px;
		color: transparent;
		transition: color 0.25s linear;
	}
	&:hover {
		&::before {
			color: $pale-ass-green;
		}
		font-weight: bold;
	}
}