.argument {
    display: flex;
    align-items: center;
    &.defendant {
        text-align: right;
        flex-direction: row-reverse;
    }

    &.plaintiff {
        text-align: left;
    }

    .round-image {
        margin: 8px;
    }
}