@import "./colors";

button, .button {
	background: $snow-white;
	border: $border;
	border-radius: $border-radius;
	padding: 8px;
	color: $low-grey;
	&:hover, &:active {
		background: $white;
		border-radius: 2px;
	}
}