.form-grid {
	display: grid;
    grid-template-columns: max-content auto;
    grid-gap: 12px;
    align-items: center;
    label {
    	text-align: right;
    }
}

.button-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 16px;
}

form {
	.row {
		label {
			display: block;
		}

		input {
			display: block;
		}

		padding-bottom: 12px;
	}
}

.image-row {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	.image-display {
		border: 2px solid $cyan;
		border-radius: $radius;
		padding: 16px;
		background: $snow-white;
		img {
			max-width: 200px;
			max-height: 200px;
			min-width: 200px;
			min-height: 200px;
		}
	}
}
