@import "./colors";
@import "./variables";

div.tab-group {
    a, button {
        padding: 4px 16px;
        border: $border;
        background: $snow-white;

        &.active {
            background: $olive;
            color: $pale-ass-green;
            &:hover {
                background: darken($olive, 10%)
            }
        }

        &:hover {
            background: $white;
        }

        &:first-child {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
            border-right-width: 0;
        }

        &:last-child {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
            border-left-width: 0;
        }
    }
}