@import "./colors";

// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$radius: 8px;
$font: "Roboto", "Arial", sans-serif;
$font-size: 12pt;
$big-font-size: 18pt;
$border-width: 2px;
$border-radius: 4px;
$border: $border-width solid $cyan;
$middot: "\00b7";