@import "./Styles/colors";
@import "./Styles/variables";
@import "./Styles/util";
@import "./Styles/inputs";
@import "./Styles/forms";
@import "./Styles/buttons";
@import "./Styles/links";
@import "./Styles/tab-group";
@import "./Styles/images";

.app-background {
	background: $olive;
	color: $white;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	font-family: $font;
	font-size: $font-size;
}

.center {
	min-width: 80vw;

	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}

.center > .main {
	min-width: 80%;
	// todo: media query size;
	max-width: 1024px;
	min-height: 80vh;
	background: $white;
	color: $low-grey;

	padding: 16px;
	border-radius: $radius;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 8px;
}